In [2]:
#Creating a List

#Use square brackets to define a list literal:

names = [ 'Elwood', 'Jake', 'Curtis' ]
nums = [ 39, 38, 42, 65, 111]

In [4]:
#Sometimes lists are created by other methods. 
#For example, a string can be split into a list using the split() method:

line = 'GOOG,100,490.10'
row = line.split(',')
print(line)

GOOG,100,490.10

In [5]:
names.append('Murphy')    # Adds at end
names.insert(2, 'Aretha') # Inserts in middle

In [6]:
print(names)

['Elwood', 'Jake', 'Aretha', 'Curtis', 'Murphy']

In [7]:
#Use + to concatenate lists:
s = [1, 2, 3]
t = ['a', 'b']
s + t

[1, 2, 3, 'a', 'b']

In [14]:
#Lists are indexed by integers. Starting at 0.
names = [ 'Elwood', 'Jake', 'Curtis' ]

names[0]  # 'Elwood'
names[1]  # 'Jake'
names[2]  # 'Curtis'

#You can change any item in a list.

names[1] = 'Joliet Jake'
names                     # [ 'Elwood', 'Joliet Jake', 'Curtis' ]
#Length of the list
names = ['Elwood','Jake','Curtis']
len(names)  # 3

3

In [9]:
#Membership test (in, not in).
'Elwood' in names       # True
'Britney' not in names  # True

True

In [10]:
#List Iteration and Search

#Use for to iterate over the list contents.

for name in names:
    # use name
    # e.g. print(name)
    ...
#This is similar to a foreach statement from other programming languages.

#To find the position of something quickly, use index().

names = ['Elwood','Jake','Curtis']
names.index('Curtis')   # 2
#If the element is present more than once, index() will return the index of the first occurrence.

#If the element is not found, it will raise a ValueError exception.

2

In [16]:
#List Removal

#You can remove items either by element value or by index:

# Using the value
names.remove('Curtis')

# Using the index
del names[1]

In [17]:
print(names)

['Elwood']

In [18]:
#List Sorting

#Lists can be sorted "in-place".


s = [10, 1, 7, 3]
s.sort()                    # [1, 3, 7, 10]

# Reverse order
s = [10, 1, 7, 3]
s.sort(reverse=True)        # [10, 7, 3, 1]

# It works with any ordered data
s = ['foo', 'bar', 'spam']
s.sort()                    # ['bar', 'foo', 'spam']